name: Deploy Nginx with Ansible

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Run Ansible Playbooks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.ANSIBLE_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 400 ~/.ssh/id_rsa
          ssh-keyscan -H 3.85.224.195 >> ~/.ssh/known_hosts
          ssh-keyscan -H 52.203.76.206 >> ~/.ssh/known_hosts

      - name: Run Nginx install playbook
        run: |
          ansible-playbook -i inventory.yaml playbook-nginx.yaml

      - name: Run custom page playbook
        run: |
          ansible-playbook -i inventory.yaml custom-playbook.yaml